
<link rel="shortcut icon" href="/static/image/QICON.ico" type="image/x-icon" /> 
<link rel="stylesheet" href="/static/jquery-bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/static/jquery-bootstrap/bootstrap3.css">
<script src="/static/jquery-bootstrap/jquery.min.js"></script>
<script src="/static/jquery-bootstrap/popper.js"></script>
<script src="/static/jquery-bootstrap/bootstrap.min.js"></script>
<script src="/static/jquery-bootstrap/bootstrap3.js"></script>
<script src="/static/jquery-bootstrap/notify.js"></script>
<script src="/static/jquery-bootstrap/notify.min.js"></script>
<script src="/static/jquery-bootstrap/pagination.js"></script>
<script src="/static/jquery-bootstrap/pagination.min.js"></script>
<script src="/static/jquery-bootstrap/codemirror.min.js"></script>
<script src="/static/mode/clike/clike.js"></script>
<script src="/static/mode/gherkin/gherkin.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/home/home.css" >
<link rel="stylesheet" type="text/css" href="/static/mycart/mycart.css" >
<link rel="stylesheet" type="text/css" href="/static/launcher/launcher.css" >
<link rel="stylesheet" type="text/css" href="/static/gluecode/gluecode.css" >
<link rel="stylesheet" type="text/css" href="/static/chatbot/chatbot.css" >
<link rel="stylesheet" type="text/css" href="/static/filter/filter.css" >
<link rel="stylesheet"  href="/static/jquery-bootstrap/codemirror.css" >
<link rel="stylesheet"  href="/static/jquery-bootstrap/w3.css" >
<link rel="stylesheet" type="text/css" href="/static/dashboard/dashboard.css" >
<script type="text/javascript" src="/static/jquery-bootstrap/canvasjs.min.js"></script>
<script src="/static/jquery-bootstrap/fontawesomekit.js"></script>
<title>QMatePro: Home</title>
<body style="background: url(/static/image/sativa2.png) repeat fixed;" onload="CartDropDown()">
<nav id="navbar" class="bg-custom"> 
  <a  href="#"><h3 style="color:white;"> <button class="openbtn" onclick="openNav()">☰</button> Q-MatePro 2.0</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="topnav-right">
      
      
    <a class="openbtn2" href="#account"><i class="fa fa-user-circle-o" style="font-size:24px"></i>  {{user}}</a>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="fa fa-shopping-cart" style="font-size:24px"></i> Cart</a>
          <ul class="dropdown-menu dropdown-cart" role="menu" >
            <div id="cartmenu">


            </div>
              
              
         
              <hr><a id="mycart" style="color:#1c53a3" ><i>View All</i></a>
          </ul>
        </li>
      </ul>
    
  </div>
</nav>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="#" onclick="HomeTrigger()">   <i class="fa fa-home" style="font-size:24px"></i> Home</a>
    <br>
    <a onclick='showGluecode()' href="#"><i class="fa fa-code" style="font-size:24px"></i> Glue Code</a>
    <br>

 
    <a href="#" onclick="TriggerQAsk()"><i class="fa fa-commenting" style="font-size:24px" ></i> Q-Ask</a>
    <br>
    <a href="#" onclick="PLPA()"><i class="fa fa-send" style="font-size:24px"></i> PL & PA</a>
    <br>
    <a href="#" onclick="open_recorder()"><i class="fa fa-video-camera" style="font-size:24px"></i> Q-Recorder</a>
    <br>
    
    
  
  </div>
  
  <div id="main" >
     <!----------------------DASHBOARD---------------------------->


     <div id="HOMEbody" class="container3">
      <div class="side">
        <h1><strong>Active Sprint Tracker</strong></h1>
        <ul class="links">
          <li><a href="#" class="selected" data-metric="visits">Defects</a></li>
          <li><a href="#" data-metric="pageviews">Backlogs</a></li>
          <li><a href="#" data-metric="conversions">Stories</a></li>
        </ul>
        <div class="stats">
          <ul data-metric="visits">
            <li>
              <div class="key">Total Defects</div>
              <div id="nodefect" class="val">{{nodefect}}</div>
            </li>
            <li>
                <div class="key">To Do</div>
                <div id="notodo_defect" class="val">{{ notodo_defect}}</div>
              </li>
              <li>
                <div class="key">In Progress</div>
                <div id="noinpro_defect" class="val">{{ noinpro_defect}}</div>
              </li>
              <li>
                  <div class="key">Done</div>
                  <div id="nodone_defect" class="val">{{ nodone_defect}}</div>
                </li>
          </ul>
          <ul data-metric="pageviews">
            <li>
              <div class="key">Total Backlogs</div>
              <div id="noback" class="val">{{ noback}}</div>
            </li>
            <li>
              <div class="key">Average</div>
              <div class="val">66.9</div>
            </li>
            <li>
              <div class="key">Change</div>
              <div class="val">+16.7%</div>
            </li>
          </ul>
          <ul data-metric="conversions">
            <li>
              <div class="key">Total Stories</div>
              <div id="nostory" class="val">{{ nostory }}</div>
            </li>
            <li>
              <div class="key">To Do</div>
              <div id="notodo_story" class="val">{{ notodo_story}}</div>
            </li>
            <li>
              <div class="key">In Progress</div>
              <div id="noinpro_story" class="val">{{ noinpro_story}}</div>
            </li>
            <li>
                <div class="key">Done</div>
                <div id="nodone_story" class="val">{{ nodone_story}}</div>
              </li>
          </ul>
        </div>
        <ul>
          <li>
            <div class="key">Start Date</div>
            <div class="val">7 days</div>
          </li>
          <li>
            <div class="key">End Date</div>
            <div class="val">----</div>
          </li>
          <li>
            <div class="key">Status</div>
            <div class="val">---</div>
          </li>

          <li>
            
            <div class="key"><select id="selectSprint">
                <option value='ALL' >All Sprints</option> 
                {% for i in Sprints %}
                <option value='{{i["sprint_id"]}}' >{{ i["sprint_name"] + " ("+i["state"] +")"}}</option>  
               {% endfor %}
              

            </select></div>
          </li>
          <li>

            <div id="loader" class="loader"></div></li>
            
          
              

          
        </ul>
      </div>
      <div class="main">
        <ul>
          <li class="active">
            <article tabindex="0" data-metric="visits">
              <div class="area">
                  <div id="chartContainer2" style="height: 100%; width: 100%;"></div>
              </div>
              <h1>Defects</h1>
            </article>
          </li>
          <li>
            <article tabindex="0" data-metric="pageviews">
                <div class="area">
                    <div id="chartContainer" style="height: 100%; width: 100%;"></div>
                  </div>
                  <h1>Backlogs</h1>
            </article>
          </li>
          <li>
            <article tabindex="0" data-metric="conversions">
              <div class="area">
                  <div id="chartContainer3" style="height: 100%; width: 100%;"></div>
              </div>
              <h1>Stories</h1>
            </article>
          </li>
        </ul>
      </div>
    </div>
    























     <!----------------------END OF HOME--------------------------------->
    
   <!---------------------------GLUE CODE---------------------------->
   
   <div id="gluecode" class="card5">
    <form  >
      <div class="tab">
    <button id="step1" class="tablinks"  type="button" onclick="openCity2(event, 'feature')"><b>@Feature</b></button>
    <button id="paris2" class="tablinks" type="button" onclick="openCity2(event, 'given')"><b>@Given</b></button>
    <button id="tokyo" class="tablinks" type="button" onclick="openCity2(event, 'when')"><b>@When</b></button>
    <button id="berlin" class="tablinks" type="button" onclick="openCity2(event, 'then')"><b>@Then</b></button>
    <button id="la" class="tablinks" type="button" onclick="openCity2(event, 'stepdef')"><b>@Glue Code</b></button>
    
    </div>
      <div id="feature" class="tabcontent">
    
    <div class="form-group">
                                                    <label  ><b id="cre_sum" >Feature Name</b></label>
                                                    <div >
  
  <input id="feat_name" name="feat_name"  placeholder="Please provide a feature name"  style='width:100%' >
  
  
   </div> </div>
             <div id="GEN_D"class="form-group">
                                                    <label id="cret_des"  ><b>Feature Content</b></label>
                                                    <div>
                                                        <textarea id="inputTextToSave" name="inputTextToSave"    rows="10" cols="30" class="form-control"  placeholder="Please provide the feature content in Gherkin format(i.e Scenario,Given,When,Then)" ></textarea>
                              
          </div>
          </div>
  </div>
  
  <div id="given" class="tabcontent">
    
   <div id="GEN_G"class="form-group">
                                                    
      </div>
      
      
      
  </div>
  <div id="when" class="tabcontent">
   <div id="GEN_W"class="form-group">
             
         
         
      </div>
  
  
  </div>
    <div id="then" class="tabcontent">
   <div id="GEN_T"class="form-group">
                                                    <label id="lab_then" class="col-lg-2 control-label" ><b>Matches of Then</b></label>
                                                    <div class="col-lg-10">
                            
  <div id="myCarousel3" class="carousel slide" data-ride="carousel" data-interval="false">
    
      <!-- Wrapper for slides -->
    
      <div id="inner3" class="carousel-inner" >
       
        
      </div>
  
      <!-- Left and right controls -->
      <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel3" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next"href="#myCarousel3" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
      
    </div>
      
      </div>
      </div>
  
  
  
  
  </div>  
                                     
  <div id="stepdef" class="tabcontent">								   
                                       

                                                
                <div id="GEN_CODE"class="form-group">
                                                    <label id="cret_des"  ><b>Script Content</b></label>
                                                    <div id="code22div">
                                                        
          </div>
          </div>
                          
    
      
      </div>
      
      
          <div class="glue-footer">
      
    
      <a id="a_add_cart" href="#" class="b-items__item__add-to-cart"><button id="add_cart" onclick="script_cart_add()" type="button" style="color:white; margin:5px;background:#1c53a3;border-color: #0d274c;border: 1px solid transparent;" >Add to Cart</button></a>
      
          <button  style=" margin:5px; background:#1c53a3;border-color: #0d274c;border: 1px solid transparent;color: white;" id="gen_script" type="button">Proceed</button>
          <button  style=" margin:5px;background:#1c53a3;border-color: #0d274c;border: 1px solid transparent;color:white;" id="to_script" type="button">To Script</button>
        
          
                  </div>
                
              </form>














   </div>

















   <!-----------------------END OF GLUECODE-------------------------------------->
  <div id="PLPAbody"> 
<!-------------PL&PA--------->
<div style="display:flex;flex-direction: row;">
  <div>
        <div class="card2">
            
            <div style="justify-content: center;" >
              <div class="header">
              <h5 style="color:white;vertical-align: middle;">Collect Locators</h5> </div>
              <br>
             
              <div id="GEN_PL"class="form-group">
                 
                  <div class="col-lg-10">
                      <input id="URL" name="url"  type="url" placeholder="Enter URL" class="form-control" pattern="https://.*" required >
</div>
</div>
<hr>


<div id="GEN_PL"class="form-group">
                 
    <div class="col-lg-10">
        <select class="form-control">
            <option value="audi"><---SELECT BROWSER---></option>
            <option value="volvo">&#xf268;  Chrome</option>
            <option value="saab">&#xf269;   FireFox</option>
            <option value="opel">&#xf267;   Safari</option>
            
          </select>
</div>
</div>

<hr>
<button id="collect" type="button" class="btn btn-primary" style=" background:#1c53a3;border-color: #0d274c;border: 1px solid transparent; float:right;margin:15px;position:relative;font-size: 18px;" >Collect</button>
<button id="launch" type="button" class="btn btn-primary" style="background:#1c53a3;border-color: #0d274c;border: 1px solid transparent;  float:left;margin:15px;position:relative;font-size: 18px;" onclick="Launch_Browser()">Launch</button>
            </div>
          </div>
         
      <div class="card2_3">
          <div id="locact" style="justify-content: center;">
              <h5 style="color:#1c53a3;vertical-align: middle;text-align: center;"> <strong><i class="fa fa-code"></i>  Class</strong></h5> 
              <hr>
              
          <label  style="margin:10px;"  > <input id="PAGELOCATOR" type="checkbox" value="PAGELOCATOR" />Page Locator  </label>
          <label  style="margin:10px;" > <input id="PAGEACTION" type="checkbox" value="PAGEACTION" />Page Action  </label>
          <div style="padding-left: 15px;">
              <button id="proceed" style="background:#1c53a3;border-color: #0d274c;border: 1px solid transparent; width:300px;"type="button" class="btn btn-primary">Proceed</button>
    
            </div>
        </div>

      </div>
        <div class="card3">
            
            <div style="justify-content: center;" >
              <div style="text-align:left;">
              <h5 style="color:#1c53a3;vertical-align: middle;text-align: center;"> <strong><i class="fa fa-filter"></i>  Filter</strong></h5> </div>
              <hr>
              <br>
             
              <div id="GEN_PL"class="form-group">
                 
                  <div class="col-lg-10">
                      <label  ><input onchange="checkAll(this)" name="chk[]" type="checkbox"  />Select All  </label>
                     
                     

</div>
</div>
<div id="GEN_PL"class="form-group">
                 
    <div class="col-lg-10">
        <label  ><input onchange="checkAllContents(this)" name="chk[]" type="checkbox"  />Contents Only  </label>
       
       

</div>
</div>
<hr>


<div id="GEN_PL"class="form-group">
                 
    <div class="col-lg-10">
        <ul id="myUL" >
            <li><span class="caret">Common Tags</span>
              <div id="demo"></div>
              <ul  id="filterControls" class="nested" >
                <li> <label  > <input type="checkbox" value="DIV" />Div  </label></li>
                <li><label  > <input type="checkbox"  value="A" />Anchor  </label></li>
                <li><label  > <input type="checkbox"  value="BUTTON" />Button  </label></li>
                <li><label  > <input type="checkbox"  value="INPUT" />Input  </label></li>
                <li><label > <input type="checkbox"  value="SPAN" />Span  </label></li>
                <li><label  > <input type="checkbox"  value="CHECKBOX" />Checkbox  </label></li>
                <li><label  > <input type="checkbox"  value="RADIO" />Radiobutton  </label></li>
                <li><label  > <input type="checkbox"  value="IMG" />Image  </label></li>
                <li><label  > <input type="checkbox"  value="CANVAS" />Canvas  </label></li>
                <li><label  > <input type="checkbox"  value="TEXTAREA" /> Textarea </label></li>
                <li><span class="caret">Style Tags</span>
                  <ul  id="filterControls" class="nested">
                    <li> <label  > <input type="checkbox" name="vehicle1" value="STRONG" />Strong  </label></li>
                    <li><label  > <input type="checkbox" name="vehicle1" value="B" />Bold  </label></li>
                    <li><label  > <input type="checkbox" name="vehicle1" value="I" />Italic  </label></li>
                    <li><label  > <input type="checkbox" name="vehicle1" value="EM" /> Emphasis   </label></li>
                    
                     
                  </ul>
                </li>
                <li><span class="caret">Content Tags</span>
                  <ul  id="filterControls" class="nested">
                    <li> <label  > <input type="checkbox"  value="P" />Paragraphs  </label></li>
                    <li><label   > <input type="checkbox"  value="LABEL" />Label</Label></li>
                      <li> <label  > <input type="checkbox"  value="PRE" />PRE  </label></li>
                    <li><span class="caret">Headers</span>
                      <ul class="nested">
                        <li><label > <input type="checkbox" value="H1" />H1  </label></li>
                        <li><label  > <input type="checkbox"  value="H2" />H2 </label></li>
                        <li><label  > <input type="checkbox"  value="H3" />H3 </label></li>
                        <li><label > <input type="checkbox"  value="H4" />H4 </label></li>
                        <li><label  > <input type="checkbox"  value="H5" />H5 </label></li>
                        <li><label  > <input type="checkbox"  value="H6" />H6 </label></li></ul></li>
                        <li><label  > <input type="checkbox" value="TD" />TD</Label></li>
                          <li><label   > <input type="checkbox"  value="TR" />TR</Label></li>
                            <li><label > <input type="checkbox" value="TH" />TH</Label></li>
                              <li><label  > <input type="checkbox"  value="LI" />LI</Label></li>
                                <li><label  > <input type="checkbox" value="OPTION" />Option</Label></li>
                     
                  </ul>
                </li>
                 
              </ul>
            </li>
          </ul>
</div>
</div>

<hr>



            </div>
          </div>
        

        </div>



    <div  class="tvNoiseContain">
            
        <div id="mainContainer" class="noiseContain">
            <div id="spin" class="loading-container"><div class="spinner"></div><div class="spinner-center"></div><div class="loading-text">Fetching All...</div></div>
            <div id="mainContainer2">
              </div>
            <div id="startpage">
          <br><br><br>
          <h1 align="center" class="card__content-header">Generate Page Locator & Page Action</h1><br><hr><br><br>
          
          <div align="center" class="card__content-paragraph">
          <p><b>Step1:</b> Click on Launch to open the browser.</p>
          <p><b>Step2:</b> Click on Collect to get all Locators.</p>
          <p><b>Step3:</b> Select Elements and Click on Proceed</p>
          <p><b>Step4:</b> Page Locator and Page Action File is ready.</p><br><br></div>
         
        
        </div>
       
            
        </div>
        
      </div>
      
</div>
</div>
    <!----------------END OF PL&PA----------------------->
    <!------------------CHATBOT------>
    
  <div id="chat-circle" class="btn btn-raised" >
          <div id="chat-overlay"></div>
          <i class="fa fa-commenting" style="font-size:24px"></i>
    </div>
    
    <div class="chat-box">
      <div class="chat-box-header">
        Q-Ask
        <span class="chat-box-toggle"><i class="fa fa-times"></i></span>
      </div>
      <div class="chat-box-body">
        <div class="chat-box-overlay">   
        </div>
        <div class="chat-logs">
         
        </div><!--chat-log -->
      </div>
      <div class="chat-input">      
        <form>
          <input type="text" id="chat-input" placeholder="Send a message..."/>
        <button type="submit" class="chat-submit" id="chat-submit"><i class="fa fa-mail-reply" style="font-size:24px"></i></button>
        </form>      
      </div>
    </div>



    <!----DETAILS MODAL--->
<!--Defect Details Modal-->
<div class="modal fade" id="defectDetailsModal_feature" tabindex="-1"
role="dialog" aria-labelledby="defectDetailsModalLabel_feature">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div id="modalheader_feature" class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="defectDetailsModalLabel"></h4>
    </div>
    <div id="defectDetailsModalBody_feature" class="modal-body"></div>
    
    
    
    <div class="modal-footer">
      
        
        <a id="prev_issue_feature" href="#" ><i class="fa fa-angle-double-left" style="font-size:50px;"></i></a>
        <a id="next_issue_feature" href="#" ><i class="fa fa-angle-double-right" style="font-size:50px;"></i></a>
                        
      <!-- <button type="button" class="btn btn-primary">Action Button</button>-->
    </div>
  </div>
</div>
</div>


    <!---EBNDD-->
    <!-----METHODBOT MODAL--->




    <div class="modal fade" id="defectDetailsModal" tabindex="-1"
    role="dialog" aria-labelledby="defectDetailsModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div id="modalheader" class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="defectDetailsModalLabel"></h4>
        </div>
        <div id="defectDetailsModalBody" class="modal-body"></div>
        
        
        
        <div class="modal-footer">
       
            
          <a id="prev_issue" href="#" ><i class="fa fa-angle-double-left" style="font-size:50px;"></i></a>
          <a id="next_issue" href="#" ><i class="fa fa-angle-double-right" style="font-size:50px;"></i></a>
                            
          <!-- <button type="button" class="btn btn-primary">Action Button</button>-->
        </div>
      </div>
    </div>
  </div>




    <!---END OF MODAL BOT -->
    <!----------------------END of CHAT------------------>
    <!------------------------CART MODAL---------------------------->
    
    
  <!-- Modal -->
  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;" >
    
      <div class="modal-dialog modal-lg" style="overflow-y: initial !important">
        <div class="modal-content" style="background:white; border:0px;">
          <div class="modal-header">
              <h3 align="center" id="gen_head" class="modal-title"><b>My Cart</b></h3>
       <button type="button" class="close" data-dismiss="modal"><b>&times;</b></button>
       
    
            
            
          </div>
      
          <div class="modal-body" >
      <form class="form-horizontal" >
      <div id="horform"></div>
      
      <div  id="hor" style=" height: 400px;overflow-y: auto;">
      
      
      
      </div>
      
      
              
                                                
                                              
      <hr>    
          <div class="modal-footer">
            
              <a  data-toggle="tooltip"  title="Edit Feature File" id="edit_cart" href="#" ><img src="/static/image/edit2.png"  style=" height:40px; width:40px;" /></a>
              <a  data-toggle="tooltip"  title="Delete Feature File" id="deleteAcc" href="#" ><img src="/static/image/del2.png"  style=" height:40px; width:40px;" /></a>
              <a   data-toggle="tooltip"  title="Download Feature File" id="down_cart" href="#" ><img src="/static/image/dwn.png"  style="  height:40px; width:40px;" /></a>
      
      
                  </div>
                
              </form>
           
          </div>
        </div>
      </div>
  </div>
    <!------------------------END OF CART--------------------->

    <!----------------------EDIT CART------------------------------>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal_featfile" class="modal fade" style="display: none;" >
    
        <div class="modal-dialog modal-lg">
          <div class="modal-content" style="background:#f1f1f1; border:2px;border-color: #0d274c ;border-style: solid;">
            <div class="modal-header">
                <h4 align="center" id="gen_head" class="modal-title"><b>Cart File</b></h4>
               
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       
              
              
            </div>
        
            <div class="modal-body">
        <form class="form-horizontal" >
                                            <div id="GEN_D"class="form-group">
                                                      <label id="cret_des" class="col-lg-2 control-label" ><b>Name</b></label>
                                                      <div class="col-lg-10">
                                                          <input id="feat_name_U" name="feat_name_U"  placeholder="Enter New File Name" class="form-control" >
            </div>
            </div>
                                                  
                                                  
                                                  <div id="GEN_D"class="form-group">
                                                      <label id="cret_des" class="col-lg-2 control-label" ><b>Content</b></label>
                                                      <div class="col-lg-10">
                                                          <textarea id="inputTextToSave_U" name="inputTextToSave_U"    rows="10" cols="30" class="form-control" ></textarea>
            </div>
            </div>
            <div class="modal-footer">
        
        
        
    
    <a id="a_up_cart" href="#" ><button id="up_cart" type="button" class="btn btn-primary"  data-dismiss="modal">Update</button></a>
                    </div>
                  
                </form>
             
            </div>
          </div>
        </div>
    </div>


    <!--------------------END OF EDIT CART--------------->
    
  
  </div>
</body>
<script type="text/javascript" src="/static/home/home.js"></script>
<script type="text/javascript" src="/static/mycart/mycart.js"></script>
<script type="text/javascript" src="/static/launcher/launcher.js"></script>
<script type="text/javascript" src="/static/filter/filter.js"></script>
<script type="text/javascript" src="/static/dashboard/dashboard.js"></script>
<script type="text/javascript" src="/static/gluecode/gluecode.js"></script>
<script type="text/javascript" src="/static/chatbot/chatbot.js"></script>
<script type="text/javascript" src="/static/chatbot/methobot.js"></script>
<script type="text/javascript">
  
    
    var obj = {{ calender_backlogs|safe }};
  var obj1={{ calender_defect|safe }};
  var obj2={{ calender_story|safe }};


var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light1", // "light2", "dark1", "dark2"
	animationEnabled: false, // change to true		
	
	data: [
	{
		// Change type to "bar", "area", "spline", "pie",etc.
		type: "column",
		dataPoints: [
    { label: obj[0]["Date"], y: obj[0]["NO"] },
        { label: obj[1]["Date"], y: obj[1]["NO"]},
        { label: obj[2]["Date"], y: obj[2]["NO"] },
        { label: obj[3]["Date"], y: obj[3]["NO"] },
        { label: obj[4]["Date"], y: obj[4]["NO"] },
        { label: obj[5]["Date"], y: obj[5]["NO"] },
        { label: obj[6]["Date"], y: obj[6]["NO"] }
		]
	}
	]
});
chart.render();
CanvasJS.addColorSet("customColorSet2",
     [//colorSet Array
     "#0d274",
     "#6086be",
     "#1BCDD1",
     "#1c53a3",
     "#B08BEB",
     "#133a72",
     
     "#1c53a3",
    ]);
var chart2 = new CanvasJS.Chart("chartContainer2", {
	theme: "light1", // "light2", "dark1", "dark2"
	animationEnabled: false, // change to true		
	colorSet:  "customColorSet2",
	data: [
	{
		// Change type to "bar", "area", "spline", "pie",etc.
		type: "column",
		dataPoints: [
    { label: obj1[0]["Date"], y: obj1[0]["NO"] },
        { label: obj1[1]["Date"], y: obj1[1]["NO"]},
        { label: obj1[2]["Date"], y: obj1[2]["NO"] },
        { label: obj1[3]["Date"], y: obj1[3]["NO"] },
        { label: obj1[4]["Date"], y: obj1[4]["NO"] },
        { label: obj1[5]["Date"], y: obj1[5]["NO"] },
        { label: obj1[6]["Date"], y: obj1[6]["NO"] }
		]
	}
	]
});
chart2.render();
CanvasJS.addColorSet("customColorSet1",
     [//colorSet Array
     "#4661EE",
     "#EC5657",
     "#1BCDD1",
     "#8FAABB",
     "#B08BEB",
     "#3EA0DD",
     
     "#EB8CC6",
    ]);
var chart3 = new CanvasJS.Chart("chartContainer3", {
	theme: "light1", // "light2", "dark1", "dark2"
	animationEnabled: false, // change to true		
	colorSet:  "customColorSet1",
	data: [
	{
		// Change type to "bar", "area", "spline", "pie",etc.
		type: "column",
		dataPoints: [
    { label: obj2[0]["Date"], y: obj2[0]["NO"] },
        { label: obj2[1]["Date"], y: obj2[1]["NO"]},
        { label: obj2[2]["Date"], y: obj2[2]["NO"] },
        { label: obj2[3]["Date"], y: obj2[3]["NO"] },
        { label: obj2[4]["Date"], y: obj2[4]["NO"] },
        { label: obj2[5]["Date"], y: obj2[5]["NO"] },
        { label: obj2[6]["Date"], y: obj2[6]["NO"] }
		]
	}
	]
});
chart3.render();
  
  </script>