
.card5 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 950px;
    
    margin: 13px;
    
    background: white;
   
    
    
  }
  
  .card5:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .glue-footer{
    padding:15px;
    margin:10px;
    text-align: right;
  }


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background:#1c53a3;border-color: #0d274c;border: 1px solid transparent;
    color:white;
  }
  
  /* Style the tab content */
  .tabcontent {
     
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #263c5a;;
    background-color:#263c5a;;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  .flip-card {
    background-color: transparent;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:30px;
    float:left;
    width: 265px;
    height: 265px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
  
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   
  }
  
  .flip-card-front {
    background-color: #cfdbeb;
    color: black;
    text-align : center;
      vertical-align: middle;
  }
  
  .flip-card-back {
    background-color: white;
    color: white;
    transform: rotateY(180deg);
   
     
  }
  .carousel {
    width:876px;
    margin: auto;
    
  }
  
  
  .carousel-control-prev-icon{
     background-image: url('/static/image/nex.png')
  }
  .carousel-control-next-icon{
    background-image: url('/static/image/pev.png')
  }
  .radio-group{
      position: relative;
  }
  
  .item.selected{
      border-color: blue;
  }  
  .CodeMirror {
    
    height: auto;
    width: 100%;
  }