<link rel="shortcut icon" href="/static/image/QICON.ico" type="image/x-icon" /> 


<script src="/static/jquery-bootstrap/jquery.min.js"></script>
<script src="/static/jquery-bootstrap/popper.js"></script>
<script src="/static/jquery-bootstrap/bootstrap.min.js"></script>
<script src="/static/jquery-bootstrap/notify.js"></script>
<script src="/static/jquery-bootstrap/notify.min.js"></script>

<link rel="stylesheet" type="text/css"  href="/static/recorder/recorder.css" >
<script src="/static/jquery-bootstrap/less.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <title>
      Q-Recorder
    </title>
    <body>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class='fa fa-sort-up' style='font-size:40px'></i></button>
        <iframe id="my_iframe" style="display:none;"></iframe>
<div id="navbar">
        <span class="brand" style="color:white; margin:20px;"> Q-Recorder   </span>
        
        <div style=" display: flex; float: right;flex-direction: row;">
          
                <div id="timer">00:00</div><br>
                <div style="margin:16px;">
             <a href="#" id="start" >  <img src="/static/image/record.png"  width="40" height="40">
             </a>
             
                
              
      <a id="stop" href="#"><img src="/static/image/stop.png"  width="40" height="40"></a></div></div>
      </div>
      <br><br><br><br><br>
      <div class="icon-bar">

          <a href="#" class="google" onclick='EraseRec();'><i class="fa fa-eraser"></i></a> 
          <a href="#" class="facebook" onclick='downloadCSVRec({ filename: "Recorded.csv" });'><i class="fa fa-file-excel-o"></i></a> 
        <a href="#" class="twitter" onclick='downloadCSVRec_api({ filename: "Recordedapi.csv" });'><i class="fa fa-file-excel-o"></i></a> 
        
      </div>
      <div class="content">
          <div style="margin:5px;font-size: 20px; text-align: center;"><label><input type="radio" name="choicerec" value="event" checked="checked" > Event Recorder</label>
           <label> <input type="radio" name="choicerec" value="api"> Api-Recorder</label>
          </div>
      <table id="myTable" class="table-fill">
            <thead>
            <tr>
            <th class="text-left">Event</th>
            <th class="text-left">Locator</th>
            </tr>
            </thead>
            <tbody id="tablebody" class="table-hover">
            <tr>
            <td class="text-left">Launch Browser</td>
            <td class="text-left">--</td>
            </tr>
            <tr>
            <td class="text-left">Go To URL</td>
            <td class="text-left">{{ myurl }}</td>
            </tr>
            
            </tbody>
            </table>


            <table id="myTableapi" class="table-fill">
                <thead>
                <tr>
                <th class="text-left">Method</th>
                <th class="text-left">Path</th>
                <th class="text-left">Request</th>
                </tr>
                </thead>
                <tbody id="tablebody" class="table-hover">
                <tr>
                <td class="text-left">Launch Browser</td>
                <td class="text-left">--</td>
                <td class="text-left">--</td>
                </tr>
                <tr>
                <td class="text-left">Go To URL</td>
                <td class="text-left">{{ myurl }}</td>
                <td class="text-left">--</td>
                </tr>
                
                </tbody>
                </table>
        </div>
        </body>
</html>




<script type="text/javascript" src="/static/recorder/recorder.js"></script>